* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul li {
    list-style-type: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 990px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  padding: 15px;
  display: block;
  text-transform: uppercase;
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover,
nav .active a {
  background-color: #39aae1;
  color: white;
}
