* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul li {
    list-style-type: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 990px;
}

.active {
  background-color: blue;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  padding: 15px;
  display: block;
  color: black;
}

nav ul li a:hover {
  background-color: blue;
  color: white;
}
